<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyonderMod10Demo4GWshelly</PublishSiteName>
    <UserName>$blueyonderMod10Demo4GWshelly</UserName>
    <Password>6MbwwufPSiGCeRBcZfdQjvlQyr3gp988bAeq4vcJW13PKgeSzNWb6l3q3ePX</Password>
  </PropertyGroup>
</Project>