<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod08lab2roig</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>$blueyondermod08lab2roig</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>dgRtuXbZHJlm97ZQ9gv8dkhcgT3v48zyn1x3aTxg12lZsorE0jsiGhSGAbix</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>