<Project>
        <PropertyGroup>
          <PublishProtocol>Kudu</PublishProtocol>
          <PublishSiteName>blueyonder-flights-roi3-staging</PublishSiteName><!--{YourInitials}-->
          <UserName>FTPMod6Lab2roig</UserName><!--{YourInitials}-->
          <Password>Password99</Password>
        </PropertyGroup>
</Project>