<Project>
        <PropertyGroup>
          <PublishProtocol>Kudu</PublishProtocol>
          <PublishSiteName>testsdfsdf</PublishSiteName><!--[App Service Url]-->
          <UserName>FTPMod6Lab2roig</UserName><!--[FTP/Deployment UserName]-->
          <Password>Password99</Password><!--[Password]-->
        </PropertyGroup>
</Project>