<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyonderMod10Demo1shelly</PublishSiteName>
    <UserName>$blueyonderMod10Demo1shelly</UserName>
    <Password>T62z3C0LuyrDBPvWEG2golqN7LcH3akY1hMr6kyWxwDRRkYjv4MhlGMYeeJm</Password>
  </PropertyGroup>
</Project>