<Project>
        <PropertyGroup>
          <PublishProtocol>Kudu</PublishProtocol>
          <PublishSiteName>blueyondermod10</PublishSiteName><!--[App Service Url]-->
          <UserName>FTPMod10Lab1roig</UserName><!--[FTP/Deployment UserName]-->
          <Password>Password99</Password><!--[Password]-->
        </PropertyGroup>
</Project>