<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyonderMod10Demo1shelly</PublishSiteName>
    <UserName>$blueyonderMod10Demo1shelly</UserName>
    <Password>TWMNMRyFYN7weiS1dsB8e9HMYmPnS3krD44XjaKH5Aav0hEDlFhPJJDfZzC3</Password>
  </PropertyGroup>
</Project>