<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod07lab3tttt</PublishSiteName>
    <UserName>$blueyondermod07lab3tttt</UserName>
    <Password>o6KfuKsbwXu3uo8TchtQyseuBa1sGHvCqYysLbpRGrbRJWtnMum8DhYQyoLu</Password>
  </PropertyGroup>
</Project>