<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod08Demo5roig2</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>$blueyondermod08Demo5roig2</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>1rDj21X2fEc9uMLthkGdEiupleuE0Af3pift8R1cFQ5YA6mDtoTwN0rFwA74</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>