<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>eweqwe</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>$eweqwe</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>2kGi9RqxngEm11yHPlkusuueXNar3fxgxKirGPQmeThCjJZ3L9L3hugwyttT</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>